section {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 80px 136px;
}

div {
    padding: 0 30px;  
}



fieldset {
    border: none;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    color: #FF4081;
    padding: 0 0 44px;
}
img {
    width: 500px;
    height: 500px;
    padding: 40px;
}

.input-borde {
    border: 1px solid #686868;
    border-radius: 7px;
    margin: 0 0 15px;
    padding: 5px 243px 5px 22px;
    
}

.input-borde-mensagem {
    resize: none;
    border: 1px solid #686868;
    border-radius: 7px;
    margin: 0 0 15px;
    padding: 10px 148px 100px 21px;
}

.butom {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #FFFFFF;
    padding: 9px 30px 9px 30px;;
    border-style: none;
    background-color: #FF4081;
    border-radius: 50px;
}



    


















/* main { 
    padding-top: 105px;
}

fieldset {
    border: none;

}

h1 {
    color: #FF4081;
    font-size: 40px;
    font-weight: 700;
    float: left;
}

form div {
    box-sizing: border-box;
    width: 100%;
}

*/









/* form input[type=text],form input[type=email],{ 
    width: 100%;
    border: 1px solid #686868;
    border-radius: 7px;
    padding: 10px 21px;
}
*/