
.sec-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 81px;
}

.tex-4 {
    font-weight: 700;
    font-size: 55px;
    color: #FF4081;
    width: 512px;
    margin: 0;
    padding: 93px 0 22px;
    display: block;
    
}

.tex-5 {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    width: 461px;
    margin: 0;
    display: block;
}

.image-1 {
    width: 380px;
    height: 381px;
    padding: 93px;
}

.sec-2 {
    background: #F6F6F6;
    padding: 0 0 50px;
}

.tex-1 {
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
    margin: 0;
    padding: 75px 0 26px;
}

.tex-2 {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    width: 501px;
}

.tex-3 {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    width: 501px;
}

.video-1 {
display: flex;
flex-wrap: wrap;
}

iframe {
    padding: 75px 70px 0 213px; 
    width: 462px;
    height: 261px;
    border-style: none;
}

.div-1 {
    padding: 0 0 0 72px;
}

article {
    padding: 0 0 73px;
}

.linha-horizontal {
    border: 1px solid #C4C4C4;
    background: #C4C4C4;
    margin: 0 0 0 98px;
    width: 1244px;
    height: 3px;
}
@media only screen and (max-width: 769px) {
    .div-1 {
        padding: 0;
    }
    .sec-3 {
        height: 820px;
    }
    .image-1 {
        padding: 0;
    }
    .linha-horizontal {
        max-width: 590px;
    }
    iframe {
        padding: 0;
        padding-top: 100px;
        width: 100%;
        height: 450px;
    }
    .div-2 {
        padding-left: 0;

    }
    .tex-1 {
        margin-left: 25px;
        padding-top: 40px;
        
    }
    .tex-2 , .tex-3 {
        margin-left: 100px;
        
    }


}

@media only screen and (max-width: 481px) {
    .tex-4 {
        font-weight: 700;
        font-size: 25px;
        width: 450px;
    }
    .tex-5 {
        font-size: 15px;
        padding-top: 25px;
        width: 450px;  
        margin: 0;
    }
    .div-1 {
        padding-left: 0;
    }

    iframe {
        padding: 0;
        margin: 0;
        width: 481px;
    }
    .div-2 {
        padding-left: 0;

    }
    .tex-1 {
        margin-left: 25px;
        padding-top: 20px;
        width: 450px;
    }
    .tex-2 , .tex-3 {
        font-size: 15px;
        width: 450px;
        margin-left: 20px;
        
    }
    .video-1 {
        padding-bottom: 30px;
    }

    .linha-horizontal {
        max-width: 450px;
        margin-left: 10px;
        height: 2px;
        margin-top: 25PX;
        margin-bottom: 35PX;
    }
    .logo-1 {
        margin-left:0 ;
    }
}
